src/main/resources/services/VerifyAuthenticationWSPort.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<xs:schema xmlns:tns="http://ws.auth.ecasa.pfr.rstyle.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
           targetNamespace="http://ws.auth.ecasa.pfr.rstyle.com/">

    <xs:element name="isLoggedIn" type="tns:isLoggedIn"/>

    <xs:element name="isLoggedInResponse" type="tns:isLoggedInResponse"/>

    <xs:complexType name="isLoggedIn">
        <xs:sequence>
            <xs:element name="sessionId" type="xs:string" minOccurs="0"/>
            <xs:element name="userDn" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="isLoggedInResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>